<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <nav>
                <ul>
                    <li><a href="/facility">Facility</a></li>
                    <li><a href="/classroom">Classroom</a></li>
                    <li><a href="/teacher">Teacher</a></li>
                    <li><a href="/child">Child</a></li>
                </ul>
            </nav>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>