<table>
    <tr>
        <th>Class Name</th>
        <th>Class Capacity</th>
        <th>Facility</th>
    </tr>
    <% for (const instance of classroom) { %>
        <tr>
            <td><%= instance["CLASS_NAME"] %></td>
            <td><%= instance["CLASS_CAPACITY"] %></td>
            <% for (let jnstance of facility) { %>
                <% if (instance["FACILITY_ID"] == jnstance["FACILITY_ID"]) { %>
                    <td><%= jnstance["FACILITY_NAME"] %></td>
                <% } %>
            <% } %>
        </tr>
    <% } %> 
</table>